.list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.horizontal {
  flex-direction: row;
  align-items: center;
  gap: 28px;
}

.vertical {
  flex-direction: column;
  align-items: stretch;
  gap: 4px;
}

.item {
  margin: 0;
}
